---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$sans-serif: "aktiv-grotesk",sans-serif;
$serif: "athelas",serif;
$monotype: "inconsolata",sans-serif;

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$home-font-size:	$base-font-size * 1.5;
$base-line-height: 1.5;

$heading-font-family: $sans-serif;

$spacing-unit:     30px;

$text-color:       	#111;
$white: 			#fff;
$background-color: 	$white;
$brand-color:      	#8A70DB;

$hover-color:		#E0DDF0;

$black:				#262626;
$grey-color:       	#F2F5F4;
$grey-color-light: 	lighten($grey-color, 20%);
$grey-color-dark:  	darken($grey-color, 25%);
$blue-color:	   	#419BF9;

$on-palm:          600px;
$on-laptop:        1200px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "styles",
        "nav",
        "posts"
;
