---
layout: homepage
---

<div class="wrapper-bg-and-border home-wrapper">
  <div class="content-wrapper--homepage">
    <div class="home--bio">
      <h1 class="home--bio-h1 text--mono">Alex Martinez</h1>
      <p class="home--bio-copy">
        I'm a product designer, 
      </p>
      <p class="home--bio-copy">
        front-end developer,
      </p>
      <p class="home--bio-copy">
        wannabe footballer.
      </p>

    <nav class="nav--homepage">
      <ul class="list--home-links">
        <li>
          <a href="thoughts" class="link--text text--mono">
            Thoughts
          </a>
        </li>
        <li>
          <a href="" class="link--text text--mono">
            About
          </a>
        </li>
      </ul>
    </nav>
      

    <ul class="home--bio-social-media-list">
      

      {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <div class="icon-social-twitter"></div>

          
        </a>
      </li>
      {% endif %}
      {% if site.dribbble_username %}
      <li>
        <a href="https://dribbble.com/{{ site.dribbble_username }}">
          <div class="icon-dribbble"></div>

          
        </a>
      </li>
      {% endif %}
      {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <div class="icon-github"></div>

          
        </a>
      </li>
      {% endif %}
      <!--
      {% if site.facebook_username %}
      <li>
        <a href="https://facebook.com/{{ site.facebook_username }}">
          <div class="icon-facebook"></div>

          
        </a>
      </li>
      {% endif %}-->
      
      <!--
      {% if site.linkedin_username %}
      <li>
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
          <div class="icon-linkedin"></div>

          
        </a>
      </li>
      {% endif %}-->
    </ul>
    </div>
    

    <!-- <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>  

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
  
  </div>
</div>

