.heading--about {
	margin-bottom: 20px;

	@media screen and (min-width: $on-palm) {
	    text-align: center;
	    margin-bottom: 30px;
	}

	@media screen and (min-width: $on-laptop) {
	    // margin-bottom: 50px;
	}
}

.grid.grid--about {
	background: #E2E5EC;
	padding: 0px;
    margin: 0px 0px 35px 0px;

	@media screen and (min-width: $on-palm) {
        margin: 0px 0px 70px 0px;
	}
	.grid__item--full {
		padding: 0px;
		margin: 0 auto;
		img {
			max-height: 650px;
		}
	}
}

.heading--bio {
	@media screen and (min-width: $on-laptop) {
	    font-size: 78px;
	}
}
