.heading--about {
	margin-bottom: 50px;
}

.grid.grid--about {
	background: #E2E5EC;
	padding: 0px;
	margin-top: 0px;
	.grid__item--full {
		padding: 0px;
		margin: 0 auto;
		img {
			max-height: 550px;
		}
	}
}

.heading--bio {
	@media screen and (min-width: $on-laptop) {
	    font-size: 78px;
	}
}
