/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */

 html, body{
    
 }
 html {
    height: 100%;
 }
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;

    -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: $hover-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $hover-color; /* Gecko Browsers */
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


hr {
    border: 1px solid $grey-color;
    margin-bottom: $paragraph-margin-bottom;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    // margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


.text--centered {
    text-align: center;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;

}

h2 {
    
}


/**
 * Paragraphs
 */
p {
    font-family: $serif;
    
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 20px;

    @media screen and (min-width: $on-palm) {
        font-size: 22px;
        line-height: 35px;
        margin-bottom: 35px;
    }
    position: relative;

}



/**
 * Links
 */
a {
    color: $black;
    text-decoration: none;
    // transition: all .25s ease;
    

    &:hover {
        color: $brand-color;
    }
}

a.link--text, a.link--heading {
    position: relative;
    text-align: center;
    // &:before {
    //     content: '';
    //     position: absolute;
    //     bottom: 40%;
    //     left: 0;
    //     height: 2px;
    //     background-color: $brand-color;
    //     // transition: all .1s;
    //     width: 0px;
    // }
    &:hover, &.active {
        color: $brand-color;
        text-decoration: line-through;
        // &:before {
            // width: 95%;
        // } 
    }
}

a.link--heading {
    text-decoration: underline;
}

a.link--text-in-p {
    transition: all 0.2s;
      background-image: linear-gradient(to bottom, $hover-color 0%, $hover-color 100%);
      // background-size: 100% 0.1em;
      // background-size: 100% 0.1em;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 1em;
      color: $brand-color;
      overflow: hidden;

      &:hover {
        background-image: linear-gradient(to bottom, $hover-color 0%, $hover-color 100%);
        background-position: 0 0em;
      }


    // color: $brand-color;
    // position: relative;
    // transition: all .2s;
    // display: inline-block;
    // // background-image: linear-gradient(to top, rgba(0, 0, 1, 0) 0%, $hover-color 2px, rgba(0, 0, 0, 0) 0%);

    // &:hover {

    //     // background-image: linear-gradient(to top, $hover-color 0%, $hover-color 100%, rgba(0, 0, 0, 0) 0%);
    //     // color: $white;

    //     &:after {
    //         height: calc(100% - 5px);
    //         background-color: $hover-color;
    //     }
    // }

    // &:after {
    //     z-index: -1;
    //     content: '';
    //     position: absolute;
    //     bottom: 3px;
    //     background-color: $hover-color;
    //     height: 1px;
    //     width: 100%;
    //     left: 0px;
    //     transition: all .15s;
    // }
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc($on-laptop - (#{$spacing-unit} * 2));
    max-width:         calc($on-laptop - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc($on-laptop - (#{$spacing-unit}));
        max-width:         calc($on-laptop - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}





/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
* Test
*/

.testClass{
    font-size: 1em;
    &.hello{
    }
}
