@use "sass:color";
@use "variables" as *;

$home-mono-type-margin-vertical: 60px;

.body--homepage {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 20px;

  &:before {
    content: '';
    height: 20px;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    z-index: 2;
  }

  &:after {
    content: '';
    height: 20px;
    position: fixed;
    width: 100%;
    background: white;
    bottom: 0;
  }
}

.home-wrapper {
  min-height: calc(100vh - 40px);
  width: calc(100% - 40px);
  position: relative;
  background: white;
  display: flex;
  overflow: hidden;
}

.content-wrapper--homepage {
  width: 100%;
  background: #E1DDF1;
}


.marquee {
  padding: 24px 0px;
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  width: 100%;

  @media screen and (min-width: $on-tablet) {
    padding: 65px 0px;
  }
  
  &__item {
    animation: marquee 30s linear infinite;
    font-size: 20px;
    white-space: nowrap;
    translate: none;
    rotate: none;
    scale: none;

    @media screen and (min-width: $on-tablet) {
      font-size: 29px;
    }
  }
}

@keyframes marquee {
  from {
    transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate(-100%, 0%) translate3d(0px, 0px, 0px);
  }
}


.home-bio {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 80px;

  @media screen and (min-width: $on-tablet) {
    padding: 0px 30px 80px;
  }
  @media screen and (min-width: $on-larger-screen) {
    padding: 0px 70px 80px;
  }
}

.home-bio__h1 {
  // margin-bottom: $home-mono-type-margin-vertical;
  font-size: 12vw;
  font-size: clamp(54px, 12vw, 260px);
  line-height: 90%;
  margin-bottom: 0.4em;
  margin-top: 20px;

  @media screen and (min-width: $on-palm) {
    margin-top: 40px;
  }

  @media screen and (min-width: $on-tablet) {
    margin-top: 0;
    margin-bottom: 0.3em;
  }
}

.home-bio__copy {
  font-family: $sans-serif;
  margin-bottom: 0px;

  @media screen and (min-width: $on-palm) {
    width: 80%;
  }

  @media screen and (min-width: $on-laptop) {
    font-size: 32px;
    max-width: 880px;
  }
  
  p {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 1.2em;

    @media screen and (min-width: $on-tablet) {
      font-size: 32px;
    }
    @media screen and (min-width: $on-larger-screen) {
      // font-size: 38px;
    }
  }
}

ul.social-icon-list {
  margin-top: 30px;
  width: 100%;

  @media screen and (min-width: $on-tablet) {
    margin-top: 80px;
  }

  li {
    display: inline-block;
    font-size: 20px;
    list-style: none;
    margin: 0px 10px 0px 0px;

    &:first-of-type {
      margin-left: 0px;
    }

    a {
      color: $brand-color;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: color.adjust($brand-color, $lightness: -10%);
      }
    }
  }
}
