.nav--primary {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: center;
    padding: 20px 0px;
	display: flex;
    max-width: 1070px;
    margin: 0 auto;
}

.nav-list {
	margin: 0;
	margin-left: auto;
	
	/* This aligns items to the end line on main-axis */
	justify-content: flex-end;

	@media screen and (min-width: $on-palm) {
	    display: flex;
	    align-items: center;
	}

	li {
		list-style: none;
		text-align: right;
		
		@media screen and (min-width: $on-palm) {
		    margin-right: 30px;

		    &:last-child {
		    	margin-right: 0px;
		    }
		}
	}
}