
.nav--primary {

    align-items: center;
    padding: 20px 15px;
	display: flex;
    max-width: 1240px;
    margin: 0 auto;

    @media screen and (min-width: $on-tablet) {
        padding: 20px 30px;
    }
}

.nav-list {
	margin: 0;
	margin-left: auto;
	
	/* This aligns items to the end line on main-axis */
	justify-content: flex-end;

	@media screen and (min-width: $on-palm) {
	    display: flex;
	    align-items: center;
	}

	li {
		list-style: none;
		text-align: right;
		
		@media screen and (min-width: $on-palm) {
		    margin-right: 30px;

		    &:last-child {
		    	margin-right: 0px;
		    }
		}
	}
}