/**
 * Post content
 */

$post-content-max-width: 700px;

.page-content {
    padding: $spacing-unit 0 0 0;
    height: 100%;

}



.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: 20px;
    position: relative;
}





.post-date, .post-title {
   text-align: center;
}

.post-date {
    margin-bottom: 10px;
}

.post-title {
    margin-bottom: 40px;
}

.post-origin {
    padding: 10px 0px;
    border-top: 1px solid $grey-color;
    border-bottom: 1px solid $grey-color;
    font-style: italic;
    color: $grey-color-dark;
    text-align: center;
}

$post-image-padding-top: 20px;

.post-content {
    max-width: $post-content-max-width;
    padding: 0px 20px;
    margin: 0 auto 70px auto;

    @media screen and (min-width: $on-laptop) {
        // padding: 90px 150px;
    }

    p {
        img {
            padding: $post-image-padding-top 0px 0px 0px;
            display: block;
            margin: 0 auto;
        }
    }

    h2 {
        font-size: 22px;
        margin-top: 60px;

        @media screen and (min-width: $on-palm) {
            font-size: 30px;
        }

    }

    h3 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    ol {
        font-family: $serif;
        margin-bottom: $paragraph-margin-bottom;
        padding-left: 1em;

        font-size: 19px;
        line-height: 28px;

        @media screen and (min-width: $on-palm) {
            font-size: 22px;
            line-height: 32px;
        }

        li {
            margin-bottom: 15px;

            ul {
                list-style-type: square;
                margin-left: 20px;
                font-size: .9em;
                line-height: 1.5em;

            }
        }
    }
}

.post-nav {
    overflow: hidden;
    border-top: 1px solid $grey-color;
    padding-top: 20px;
    max-width: $post-content-max-width;
    margin: 20px auto;
}

.post-nav__direction {
   
    width:50%;
}

.post-nav__prev-post {
    float: left;
}

.post-nav__next-post {
    float: right;
}

.post-comments {
    max-width: $post-content-max-width;
    margin: 0 auto;
}

span.img-caption {
    position: absolute;
    top: $post-image-padding-top;
    right: -150px;
    width: 140px;
    font-size: 15px;
    line-height: 18px;
    color: #A3A3A3;
    padding-top: 20px;

    &:before {
        background-color: #E6E6E6;
        content: '';
        height: 1px;
        position: absolute;
        top: 0px;
        width: 25px;
    }

}
