$home-mono-type-margin-vertical: 60px;

.body--homepage {
	height: 100%;
}

.wrapper-bg-and-border {
	
	background: $grey-color;
	border: 17px solid #fff;
	
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.home-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.content-wrapper--homepage {
	margin: auto;
}

.home--bio-h1 {
	margin-bottom: $home-mono-type-margin-vertical;
	text-align: center;
}

.text--mono{
    font-family: 	$monotype;
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 15px;
    text-transform: uppercase;
}

.home--bio-copy {
	font-family: $sans-serif;
	font-size: 58px;
	line-height: 69px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
}

ul.list--home-links {

	margin-top: $home-mono-type-margin-vertical;
	text-align: center;

	li {
		display: inline-block;
		list-style: none;
		margin: 0px 15px;

	}
}









.site-footer, .push{
	height: 300px;
}

.home--pup-container{
	width: 100%;

	
	height:300px;
	margin: 0 auto;
	
}
.home--pup-container-image{
	
	max-width: 976px;
	width:100%;
	margin: 0 auto;
	height: 300px;
}

.home--bio-social-media-list{

	margin:0px;
	li{
		margin-top: 15px;
		float: left;
		list-style: none;
		font-size: 1.75rem;
		margin-right: .5em;
		a{
			transition: all .25s ease;
			color: $grey-color-light;
			&:hover{
				text-decoration: none;
				color: $brand-color;
			}
		}
		
	}
}