@use "variables" as *;

.wrapper-bg-and-border {
	
	background: $gray-color;
	border: 17px solid #fff;
	
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



.home--pup-container{
	width: 100%;

	
	height:300px;
	margin: 0 auto;
	
}
.home--pup-container-image{
	
	max-width: 976px;
	width:100%;
	margin: 0 auto;
	height: 300px;
}

.home--bio-social-media-list{

	margin:0px;
	li{
		margin-top: 15px;
		float: left;
		list-style: none;
		font-size: 1.75rem;
		margin-right: .5em;
		a{
			transition: all .25s ease;
			color: $gray-color-light;
			&:hover{
				text-decoration: none;
				color: $brand-color;
			}
		}
		
	}
}