.wrapper-bg-and-border {
	
	background: $grey-color;
	border: 17px solid #fff;
	
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.header--large {
	
    font-size: 28px;
	line-height: 36px;

	@media screen and (min-width: $on-palm) {
    	font-size: 48px;
    	line-height: 56px;
	    
	}
	@media screen and (min-width: $on-laptop) {
		
	}
}



.text--mono{
    font-family: 	$monotype;
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 15px;
    text-transform: uppercase;
}










.site-footer, .push{
	height: 300px;
}

.home--pup-container{
	width: 100%;

	
	height:300px;
	margin: 0 auto;
	
}
.home--pup-container-image{
	
	max-width: 976px;
	width:100%;
	margin: 0 auto;
	height: 300px;
}

.home--bio-social-media-list{

	margin:0px;
	li{
		margin-top: 15px;
		float: left;
		list-style: none;
		font-size: 1.75rem;
		margin-right: .5em;
		a{
			transition: all .25s ease;
			color: $grey-color-light;
			&:hover{
				text-decoration: none;
				color: $brand-color;
			}
		}
		
	}
}