@use "variables" as *;

.content-wrapper--thoughts-archive {
	max-width: 660px;
	margin: 0 auto;
}

ul.ul--post-archive {
	text-align: center;
	li {
		// border-top: 1px solid $gray-color;
		padding: 0px 0px 60px 0px;
		list-style: none;

	}
}

.post-archive__post-date {
	margin-bottom: 5px;
}

sup {
  line-height: 0;
}