/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;

}

h2 {

}

h3 {
    margin-top: 20px;
}


/**
 * Paragraphs
 */
p {
    font-family: $sans-serif;
    color: $black;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 20px;

    @media screen and (min-width: $on-palm) {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 35px;
    }
    position: relative;

}






/**
 * Blockquotes
 */
blockquote {
    color: $gray-color;
    border-left: 4px solid $gray-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

// /**
//  * Code formatting
//  */
p, li {
  pre,
  code {
      font-size: 15px;
      border: 1px solid $gray-color-light;
      border-radius: 3px;
      background-color: #EAEFF2;
  }

  code {
    line-height: 17px;
    padding: 1px 5px;
  }
}




pre {
    > code {
        padding: 1.5em 2em;
        border-radius: 0.5em;
    }
}

code, .code {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
}

.f7, .hljs, code {
    font-size: 0.75rem;
}



/**
 * Links
 */
a {
    color: $black;
    text-decoration: none;
    // transition: all .25s ease;


    &:hover {
        color: $brand-color;
    }
}

a.link--text, a.link--heading {
    position: relative;
    text-align: center;
    // &:before {
    //     content: '';
    //     position: absolute;
    //     bottom: 40%;
    //     left: 0;
    //     height: 2px;
    //     background-color: $brand-color;
    //     // transition: all .1s;
    //     width: 0px;
    // }
    &:hover, &.active {
        color: $brand-color;
        text-decoration: line-through;
        // &:before {
            // width: 95%;
        // }
    }
}

a.link--heading {
    text-decoration: underline;
}

a.link--text-in-p {
    transition: all 0.2s;
      background-image: linear-gradient(to bottom, $hover-color 0%, $hover-color 100%);
      // background-size: 100% 0.1em;
      // background-size: 100% 0.1em;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 1.15em;
      color: $brand-color;
      overflow: hidden;

      &:hover {
        background-image: linear-gradient(to bottom, $hover-color 0%, $hover-color 100%);
        background-position: 0 0em;
      }


    // color: $brand-color;
    // position: relative;
    // transition: all .2s;
    // display: inline-block;
    // // background-image: linear-gradient(to top, rgba(0, 0, 1, 0) 0%, $hover-color 2px, rgba(0, 0, 0, 0) 0%);

    // &:hover {

    //     // background-image: linear-gradient(to top, $hover-color 0%, $hover-color 100%, rgba(0, 0, 0, 0) 0%);
    //     // color: $white;

    //     &:after {
    //         height: calc(100% - 5px);
    //         background-color: $hover-color;
    //     }
    // }

    // &:after {
    //     z-index: -1;
    //     content: '';
    //     position: absolute;
    //     bottom: 3px;
    //     background-color: $hover-color;
    //     height: 1px;
    //     width: 100%;
    //     left: 0px;
    //     transition: all .15s;
    // }
}


.heading--large {

    font-size: 28px;
	line-height: 36px;

	@media screen and (min-width: $on-palm) {
    	font-size: 42px;
    	line-height: 50px;

	}
	@media screen and (min-width: $on-laptop) {

	}
}

.h-mono {
    font-family:    $monotype;
    letter-spacing: 4px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    color: rgba(0,0,0,.4);
}


.text--mono{
    font-family: 	$monotype;
    font-size: 13px;
    letter-spacing: 4px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: normal;

    @media screen and (min-width: $on-palm) {
    	font-size: 14px;
    	letter-spacing: 5px;
    }
}

.mono-heading-top {
    margin-bottom: 0px;
}

.mb-none {
    margin-bottom: 0px;
}
