// This is for styling the work summary page

.work-list {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
}

.work-list__row {
    display: flex;
    margin-bottom: 30px;
}

.work-list__article {
    // flex-grow: 1;
    width: 50%;
    padding: 10px;

    &:hover {
        .article__summary {
            background: $white;
            color: $black;
        }
    }
}

.work-list__article-inner {

}

.article__image {
    border: 8px solid $white;
    margin-bottom: 10px;
}

.article__summary {
    text-align: left;
    padding: 20px;
    transition: background .25s ease;
}

.article__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 5px;
}

.article__category {
    margin-bottom: 0px;
    color: #A2A6A8;
}





// This work-content class is used to contain all text within case studies.
// Here we set max-widths on all text so that we can have images in
// case studies break the width of the surrounding text.

.page-content--work {
    padding-top: 0px;
}

.hero {
    margin: 0px 17px 17px 17px;
}

.hero__content {
    max-width: 1070px;
    margin: 150px auto;
}

.hero__title-container, .hero__summary-container {
    display: inline-block;
    vertical-align: top;
}

.hero__title-container {
    width: 38%;
    margin-right: 3%
}

.work-type {
    margin-bottom: 10px;
}

.work-title {
    font-size: 38px;
    line-height: 45px;
}

.hero__summary-container {
    width: 58%;
    max-width: 600px;
}

.work-summary {
    font-size: 20px;
    line-height: 28px;
    margin-top: 5px;
    margin-bottom: 10px;
}



.work-content {
    h1, h2, h3, h4, h5, p, ol, ul {
        max-width: $post-content-max-width;
        padding: 0px 20px;
        margin-left: auto;
        margin-right: auto;
    }

    ol, ul {
        // font-size: 20px;
        background: $gray-color-light;
        padding: 35px 50px;
        max-width: 625px;

        li {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .video-container {
        max-width: 1000px;
        margin: 0 auto 50px auto;
        padding: $media-padding;
    }
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow:
        hidden; max-width: 100%;
    }

    .embed-container iframe, .embed-container object, .embed-container embed { position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }



}

.grid {
    background: $gray-color;
    display: flex;
    // max-width: $media-max-width;
    margin: 70px 17px;
    padding: 80px 40px 60px 40px;
    flex-wrap: wrap;
    position: relative;

    &.grid--featured-image {
        padding: 100px 20px;
    }

    &.grid--no-bg {
        padding:0px;
        background: none;
    }
}

.grid__item {
    box-sizing: border-box;
    margin-right: 2%;
    margin-bottom: 20px;
    text-align: center;
    width: auto;

}

.grid__item--full {
    flex-basis: 100%;
    margin: 0 auto 20px auto;
    text-align: center;
}

.grid__item--featured {
    img {
        max-height: 723px;
    }
}

.grid__item--half {
    flex-basis: 49%;

    &.end {
        margin-right: 0;
    }
}

.item-img--full {
   width: 100%;
}

img {
    max-width: 100%;
}

.bg--gray {
    background: $gray-color;
}

.bg--navy {
    background: #1D2433;
}

.bg--purple {
    background: $hover-color;
    color: #542e71;

    p {
        color: #542e71;
    }
}

.content-section {
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: 60px;
    margin-bottom: 50px;

    border: 17px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.fin-tip {
    width: 40px;
    height: 7px;
    background: $black;
    margin: 0 auto 50px auto;
}
