$work-break: 800px;

// This is for styling the work summary page

.work-list__title {
  text-align: center;
}

.work-list__heading {
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 45px;
  position: relative;

  &:after {
    background: $iron;
    bottom: 0px;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 95%;
  }

  @media screen and (min-width: $work-break) {
      padding-top: 70px;
  }
}

.work-list {
  margin: 0 auto;
  max-width: 540px;
  padding: 0px 15px 30px 15px;

  @media screen and (min-width: $work-break) {
    max-width: 1240px;
    padding: 0 30px 50px 30px;
  }
}

.work-list__row {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $work-break) {
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}

.work-list__article {
  margin-bottom: 30px;
  width: 100%;

  &:hover {
    .article__summary {
      color: $black;
    }

    @media screen and (min-width: $work-break) {
      .article__image {
        transform: translateY(-5px);
        box-shadow: $box-shadow-standard;
        -webkit-box-shadow: $box-shadow-standard;
        -moz-box-shadow: $box-shadow-standard;
      }
    }
  }

  @media screen and (min-width: $work-break) {
    margin-bottom: 0px;
    padding: 10px;
    width: 50%;

    &:nth-child(1) {
      padding-left: 0px;
    }

    &:nth-child(2) {
      padding-right: 0px;
    }
  }
}

.work-list__article-inner {
    position: relative;
}

.article__image {
  border: 8px solid $white;
  transition: all .2s;

  img {
    width: 100%;
  }

  @media screen and (min-width: $work-break) {
    margin-bottom: 10px;
  }
}

.article__summary {
  align-items: center;
  background: $white;
  display: flex;
  overflow: hidden;
  padding: 20px;
  text-align: left;
  transition: background .25s ease;

  .summary__text {
    width: 90%;
  }

  .summary__arrow {
    width: 10%;

    @media screen and (min-width: $work-break) {
      transform: translateY(80px);
      transition: all .2s;
      opacity: .5;
    }
  }

  @media screen and (min-width: $work-break) {
    background: none;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.article__title {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 5px;

  @media screen and (min-width: $work-break) {
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 5px;
  }
}

.article__category {
    margin-bottom: 0px;
    color: #A2A6A8;
}

// This work-content class is used to contain all text within case studies.
// Here we set max-widths on all text so that we can have images in
// case studies break the width of the surrounding text.

.page-content--work {
  padding-top: 0px;
}

.hero {
  margin: 0px 17px 17px 17px;
}

.hero__content {
  max-width: 1070px;
  margin: 10px auto;
  padding-top: 40px;
  border-top: 1px solid $gray-color;

  @media screen and (min-width: $on-tablet) {
    border-top: 0px;
    margin: 150px auto;
    padding-top: 0px;
  }
}

.hero__title-container, .hero__summary-container {
  display: inline-block;
  vertical-align: top;
}

.hero__title-container {
  @media screen and (min-width: $on-tablet) {
    margin-right: 3%;
    width: 38%;
  }
}

.work-type {
  margin-bottom: 10px;
}

.work-title {
  font-size: 32px;
  line-height: 38px;

  @media screen and (min-width: $on-tablet) {
    font-size: 38px;
    line-height: 45px;
  }
}

.hero__summary-container {
  @media screen and (min-width: $on-tablet) {
    max-width: 600px;
    width: 58%;
  }
}

.work-summary {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.pop-out-image__container {
  margin-bottom: 35px;
  padding: 0 20px;
  position: relative;
  transition: all .2s;
}

.pop-out-image {
  position: relative;
  transition: all .2s;

  &:after {
    background-size: 20px 20px;
    background: url("../assets/zapier/images/external-link.png") no-repeat 0 0;
    content: "";
    display: inline-block;
    height: 20px;
    opacity: .4;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all .2s;
    width: 20px;
  }

  &:hover {
    box-shadow: $box-shadow-standard;
    -webkit-box-shadow: $box-shadow-standard;
    -moz-box-shadow: $box-shadow-standard;
    cursor: pointer;

    &:after {
      opacity: 1;
    }
  }
}

.work-content {

  ol, ul {
    background: $gray-color-light;
    color: $black;
    font-family: $serif;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 30px;
    max-width: 625px;
    padding: 35px 50px;

    li {
      margin-bottom: 5px;
      // list-style-type: circle;
      list-style-type: square;

      ul {
        padding: 0px 0px 0px 20px;
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0px;

        ul {
          margin-bottom: 0px;
        }
      }
    }
  } // End ol, ul

  .video-container {
    margin: 0 auto;
    max-width: 1375px;
  }
  .embed-container {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }

  .embed-container iframe, .embed-container object, .embed-container embed { position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .work-content__codepen-container {
    margin: 0px auto 30px auto;
    max-width: 100%;
    padding: 35px 50px;
  }
}

.grid {

  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media screen and (min-width: $on-palm) {
      margin: 0px 17px;
  }

  @media screen and (min-width: 1350px) {
      max-width: 1300px;
      margin: 0 auto;
  }


  &.grid--featured-image {
    img {
      box-shadow: 0px 0px 0px 0px;
      -moz-box-shadow: 0px 0px 0px 0px;
      -webkit-box-shadow: 0px 0px 0px 0px;
      width: auto;
    }

    .item-img--full {
      width: 100%;
    }

    @media screen and (min-width: 1350px) {
      margin: 0 30px 60px;
      max-width: 100%;
    }
  }

  &.grid--no-bg {
    background: none;
    padding:0px;
  }

  &.grid-mt {
    margin-top: 40px;

    @media screen and (min-width: $on-palm) {
      margin-top: 70px;
    }
  }

  &.grid-mb {
    margin-bottom: 30px;

    @media screen and (min-width: $on-palm) {
      margin-bottom: 70px;
    }
  }
}

.grid__item {
  background: $gray-color;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
  width: auto;
}

.img-caption {
  color: #a6b0c3;
  display: block;
  font-family: $sans-serif;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 10px;
  padding-top: 8px;
  text-align: left;

  a {
    color: $gray-color-darker;
    text-decoration: underline;

    &:hover {
      color: $gray-color-darker;
    }
  }
}

.grid__item--full, .grid__item--half {
  img {
    box-shadow: $box-shadow-standard;
    -webkit-box-shadow: $box-shadow-standard;
    -moz-box-shadow: $box-shadow-standard;
    width: 100%;

    &.image-medium {
      max-width: 960px;
    }
  }

  &.no-shadow {
    img {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
  }
}

.grid__item--full {
  flex-basis: 100%;
  padding: 20px;

  @media screen and (min-width: $on-palm) {
    padding: 45px 40px;
  }
}

.grid__item--featured {
  img {
    max-height: 723px;
  }
}

.grid__item--half {
  flex-basis: 100%;
  padding: 20px;
  background: $gray-color;

  &.end {
    margin-right: 0;
  }

  img {
    width: 100%;
  }

  @media screen and (min-width: $on-palm) {
    padding: 45px 40px;
  }

  @media screen and (min-width: $on-tablet) {
    flex-basis: 49%;
    margin-right: 2%;
  }
}



.bg--gray {
  background: $gray-color;
}

.bg--navy {
  background: #1D2433;
}

.bg--purple {
  background: $hover-color;
  color: #542e71;

  p {
    color: #542e71;
  }
}

.content-section {
    border: 17px solid #fff;
    margin-bottom: 50px;
    margin-top: 60px;
    padding-bottom: 20px;
    padding-top: 70px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.fin-tip {
  background: $gray-color;
  height: 7px;
  margin: 0 auto 50px auto;
  width: 40px;

  &.top-margin-large {
    margin-top: 70px;
  }
}
