$work-break: 800px;

// This is for styling the work summary page

.work-list__title {
    text-align: center;
}

.work-list__heading {
    position: relative;
    padding-top: 45px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: inline-block;


    &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 95%;
        height: 4px;
        background: $iron;
        bottom: 0px;
    }

    @media screen and (min-width: $work-break) {
        padding-top: 70px;
    }
}

.work-list {
    max-width: 540px;
    margin: 0 auto;
    padding: 0px 15px 30px 15px;

    @media screen and (min-width: $work-break) {
        padding: 0 30px 50px 30px;
        max-width: 1240px;
    }
}

.work-list__row {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $work-break) {
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }
}

.work-list__article {
    margin-bottom: 30px;
    width: 100%;

    &:hover {
        
        .article__summary {
            color: $black;
        }

        @media screen and (min-width: $work-break) {
            .article__image {
                transform: translateY(-5px);
                box-shadow: $box-shadow-standard;
                -webkit-box-shadow: $box-shadow-standard;
                -moz-box-shadow: $box-shadow-standard;
            }
        }
    }

    @media screen and (min-width: $work-break) {
        margin-bottom: 0px;
        padding: 10px;
        width: 50%;

        &:nth-child(1) {
            padding-left: 0px;
        }

        &:nth-child(2) {
            padding-right: 0px;
        }
    }
}

.work-list__article-inner {
    position: relative;
}

.article__image {
    border: 8px solid $white;
    
    transition: all .2s;

    img {
        width: 100%;
    }

    @media screen and (min-width: $work-break) {
        margin-bottom: 10px;
    }
}

.article__summary {
    text-align: left;
    padding: 20px;
    transition: background .25s ease;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: $white;

    .summary__text {
        width: 90%;
    }

    .summary__arrow {
        width: 10%;

        @media screen and (min-width: $work-break) {
            transform: translateY(80px);
            transition: all .2s;
            opacity: .5;
        }
    }

    @media screen and (min-width: $work-break) {
        background: none;
    }
}

.article__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 5px;

    @media screen and (min-width: $work-break) {
        font-size: 26px;
        line-height: 29px;
        margin-bottom: 5px;
    }
}

.article__category {
    margin-bottom: 0px;
    color: #A2A6A8;
}





// This work-content class is used to contain all text within case studies.
// Here we set max-widths on all text so that we can have images in
// case studies break the width of the surrounding text.

.page-content--work {
    padding-top: 0px;
}

.hero {
    margin: 0px 17px 17px 17px;
}

.hero__content {
    max-width: 1070px;
    margin: 10px auto;
    padding-top: 40px;
    border-top: 1px solid $gray-color;

    @media screen and (min-width: $on-tablet) {
        margin: 150px auto;
        border-top: 0px;
        padding-top: 0px;
    }
}

.hero__title-container, .hero__summary-container {
    display: inline-block;
    vertical-align: top;
}

.hero__title-container {

    @media screen and (min-width: $on-tablet) {
        width: 38%;
        margin-right: 3%;
    }
}

.work-type {
    margin-bottom: 10px;
}

.work-title {
    font-size: 32px;
    line-height: 38px;

    @media screen and (min-width: $on-tablet) {
        font-size: 38px;
        line-height: 45px;
    }
}

.hero__summary-container {
    

    @media screen and (min-width: $on-tablet) {
        width: 58%;
        max-width: 600px;
    }
}

.work-summary {
    font-size: 20px;
    line-height: 28px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.pop-out-image__container {
    margin-bottom: 35px;
    padding: 0 20px;
    position: relative;
    transition: all .2s;
}

.pop-out-image {
    transition: all .2s;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background: url("../assets/zapier/images/external-link.png") no-repeat 0 0;
        background-size: 20px 20px;
        opacity: .4;
        top: 20px;
        right: 20px;
        display: inline-block;
        transition: all .2s;
    }

    &:hover {
        cursor: pointer;

        box-shadow: $box-shadow-standard;
        -webkit-box-shadow: $box-shadow-standard;
        -moz-box-shadow: $box-shadow-standard;

        &:after {
            opacity: 1;
        }
    }
} 

.work-content {

    ol, ul {
        background: $gray-color-light;
        color: $black;
        font-family: $sans-serif;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 30px;
        max-width: 625px;
        padding: 35px 50px;

        li {
            margin-bottom: 5px;
            list-style-type: circle;

            ul {
                padding: 0px 0px 0px 20px;
                margin-bottom: 10px;
            }

            &:last-child {
                margin-bottom: 0px;

                ul {
                    margin-bottom: 0px;
                }
            }
        }
    }

    .video-container {
        max-width: 1375px;
        margin: 0 auto;
    }
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow:
        hidden; max-width: 100%;
    }

    .embed-container iframe, .embed-container object, .embed-container embed { position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .work-content__codepen-container {
        margin: 0px auto 30px auto;
        max-width: 100%;
        padding: 35px 50px;
    }

}

.grid {
    
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @media screen and (min-width: $on-palm) {
        margin: 0px 17px;
    }

    @media screen and (min-width: 1350px) {
        max-width: 1300px;
        margin: 0 auto;
    }


    &.grid--featured-image {

        img {
            width: auto;
            box-shadow: 0px 0px 0px 0px;
            -moz-box-shadow: 0px 0px 0px 0px;
            -webkit-box-shadow: 0px 0px 0px 0px;
        }

        .item-img--full {
           width: 100%;
        }

        @media screen and (min-width: 1350px) {
            max-width: 100%;
            margin: 0 30px;
        }

    }

    &.grid--no-bg {
        padding:0px;
        background: none;
    }



    &.grid-mt {
        margin-top: 40px;

        @media screen and (min-width: $on-palm) {
            margin-top: 70px;

        }
    }

    &.grid-mb {
        margin-bottom: 30px;

        @media screen and (min-width: $on-palm) {
            margin-bottom: 70px;

        }
    }
}

.grid__item {
    box-sizing: border-box;
    margin-bottom: 20px;
    width: auto;
    text-align: center;
    background: $gray-color;

}

.img-caption {
    font-family: $sans-serif;
    font-size: 15px;
    line-height: 18px;
    padding-top: 20px;
    text-align: left;
    display: block;
    color: $gray-color-darker;

    a {
        color: $gray-color-darker;
        text-decoration: underline;

        &:hover {
            color: $gray-color-darker;
        }
    }
}

.grid__item--full, .grid__item--half {
    img {
        width: 100%;
        box-shadow: $box-shadow-standard;
        -webkit-box-shadow: $box-shadow-standard;
        -moz-box-shadow: $box-shadow-standard;
    }

    &.no-shadow {
        img {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
    }
}

.grid__item--full {
    flex-basis: 100%;
    // margin: 0 auto 30px auto;
    
    padding: 20px;

    @media screen and (min-width: $on-palm) {
        padding: 45px 40px;
    }
}

.grid__item--featured {
    img {
        max-height: 723px;

    }
}

.grid__item--half {
    flex-basis: 100%;
    padding: 20px;
    background: $gray-color;

    &.end {
        margin-right: 0;
    }

    img {
        width: 100%;
    }

    @media screen and (min-width: $on-palm) {
        padding: 45px 40px;

        &.end {
        }
    }

    @media screen and (min-width: $on-tablet) {
        flex-basis: 49%;
        margin-right: 2%;
    }
}



.bg--gray {
    background: $gray-color;
}

.bg--navy {
    background: #1D2433;
}

.bg--purple {
    background: $hover-color;
    color: #542e71;

    p {
        color: #542e71;
    }
}

.content-section {
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: 60px;
    margin-bottom: 50px;

    border: 17px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.fin-tip {
    width: 40px;
    height: 7px;
    background: $gray-color;
    margin: 0 auto 50px auto;

    &.top-margin-large {
        margin-top: 70px;
    }
}
